rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }

    match /apps/{appId} {
      match /attendances/{attendanceId} {
        allow read, create, update, delete: if isSignedIn();
      }

      match /users/{userId} {
        allow read, create, update, delete: if isSignedIn();
      }

      match /notificationTokens/{tokenId} {
        allow read, create, update, delete: if isSignedIn();
      }

      match /config/{docId} {
        allow read, write: if isSignedIn();
      }
    }
  }
}
